
<!-- <p><a style="cursor: pointer;" (click)="getDatasource()">DataSources</a></p> -->
<!-- <p><a [routerLink]="['/datasources']">DataSources</a></p>
<p><a [routerLink]="['/historical']">Historical Node Status</a></p>
<p><a [routerLink]="['/remote']">Remote Worker Nodes</a></p>
<p><a [routerLink]="['/overload']">Overload Node Status</a></p>
<p><a [routerLink]="['/broker']">Broker Node Status</a></p>
<p><a [routerLink]="['/coordinator']">Coordinator Status Node</a></p>
<p><a [routerLink]="['/hdfs']">HDFS Status</a></p>
<p><a [routerLink]="['/datanodes']">Data Nodes</a></p>
<p><a [routerLink]="['/zookeeper']">Zookeeper Status</a></p>
<p><a [routerLink]="['/kafka']">Kafka Status</a></p>
<p><a [routerLink]="['/hsql']">HSQL Status</a></p>
<p><a [routerLink]="['/mysql']">MySql Status</a></p>
<p><a [routerLink]="['/tasks']">Tasks</a></p> -->

  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/datasources']"><i class="icon-puzzle"></i>DataSources</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/historical']"><i class="icon-puzzle"></i>Historical Node Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/remote']"><i class="icon-puzzle"></i>Remote Worker Nodes</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/overload']"><i class="icon-puzzle"></i>Overload Node Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/broker']"><i class="icon-puzzle"></i>Broker Node Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/coordinator']"><i class="icon-puzzle"></i>Coordinator Status Node</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/hdfs']"><i class="icon-puzzle"></i>HDFS Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/datanodes']"><i class="icon-puzzle"></i>Data Nodes</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/zookeeper']"><i class="icon-puzzle"></i>Zookeeper Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/kafka']"><i class="icon-puzzle"></i>Kafka Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/hsql']"><i class="icon-puzzle"></i>HSQL Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/mysql']"><i class="icon-puzzle"></i>MySql Status</a></li><br>
  <li class="nav-item px-1"><a class="nav-link" routerLinkActive="active" [routerLink]="['/tasks']"><i class="icon-puzzle"></i>Tasks</a></li><br>
