
		<section class="page-heading clearfix">
			<div class="container no-glitter">
				<h2>You have selected 2 Restaurants for American Foods</h2>			
			</div>
		</section>
		<section class="body-container">
			<div class="container no-glitter">
				<div class="row clearfix"> 
					<div class="col-md-12">
						<div class="menu-step">
							<ul class="menu-step-select">
								<li class="visited"><div class="icon s-search"><i></i> <a href="entitySearch"><span>Select Menu's</span></a></div></li>
								<li class="active"><div class="icon cart"><i></i><span>Cart/Check out</span></div></li>
								<li><div class="icon payment"><i></i><span>Payment</span></div></li>
								<li><div class="icon enjoy"><i></i><span>Enjoy</span></div></li>
							</ul>
						</div>						
					</div>
					<div *ngIf="cart.restaurantCart && cart.restaurantCart.length > 0" class="checkput-container">
						<div class="col-md-8 col-sm-8">
							<div class="row-item padd15">
								<div class="row clearfix" *ngFor="let restaurant of cart.restaurantCart">
									<div class="menu-details list-checkout clearfix">
										<div class="col-md-8 col-sm-8">
											<h3>{{restaurant.restaurantName}}</h3>
											<p class="del-partner">Service Partner: <span>Zomatoo, foodpanda </span></p>
										</div>
										<div class="col-md-4 col-sm-4">
											<ul class="del-service">
												<li class="fa fa-takeaway"></li>
												<li class="fa fa-delivery active"></li>
												<li class="fa fa-group"></li>
											</ul>
										</div>
										<div class="restu-menu" *ngFor="let item of restaurant.itemsSelected">
											<div class="col-md-6 col-sm-6">
												<div class="outer-area">
													<h4 class="restu-item"><span>{{item.productName}}<i class="veg"></i></span><div class="item-price">{{item.price}}</div></h4>
													<div class="sell-item">
														<div class="btn-holder">
															<button class="less-item">-</button><input type="text" [placeholder]="item.quantity" class="form-control" ><button class="add-item">+</button>
														</div>
														<a href="javascript:void(0);" class="remove-item">Remove</a>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="clearfix"></div>
									<div class="btn-cart-holder">
										<button type="button" class="btn-yellow">Add More</button>
									</div>
								</div>
							</div>
							<div class="row-item padd20">
								<div class="delivery-address">
									<h3>Delivery Address <button type="button" class="btn-yellow pull-right btn-white">Add new address</button></h3>
									<ul>
										<li class="radio">
											<label>
												<div class="custom-radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"></div>
												<div class="add-all">
													<h4><span class="glyphicon glyphicon-home"></span> Home - B602, Sentosa</h4>
													<p> 135 Newtownards Road, Belfast, BT4 1AB</p>
												</div>												
											</label>
											<div class="add-action">
												<a class="link" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
												<a class="link" title="Remove"><span class="glyphicon glyphicon-trash"></span></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="estimate-time">
								Estimate delivery time: <span>45 Mins</span>
							</div>
							<div class="row-item padd20">
								<div class="cart-value">
									<ul class="cart-item">
										<li><small>1x</small> Dal Tadka <span>140.00</span></li>
										<li><small>1x</small> Dal Tadka <span>140.00</span></li>
										<li><small>1x</small> Dal Tadka <span>140.00</span></li>
										<li><small>1x</small> Dal Tadka <span>140.00</span></li>
										<li><small>1x</small> Dal Tadka <span>140.00</span></li>
									</ul>
									<ul class="cart-item cart-value-total">
										<li>Subtotal <span>20.00</span></li>
										<li class="discount">Discount <span>20.00</span></li>
										<li>Delivery Fee <span>20.00</span></li>
										<li>+ SGST <span>20.00</span></li>
										<li>+ CGST <span>20.00</span></li>
										<li>Total will be rounded off <span>20.00</span></li>
										<li class="text-right"><strong>1275.50</strong></li>
									</ul>
									<div class="promo-code">
										<input type="text" class="form-control" placeholder="Enter promo code"><button type="button" class="btn-procode">Apply</button>
									</div>
									<button type="button" class="make-payment">Make Payment</button>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>			
		</section>
