
		<section class="page-heading clearfix" *ngIf="cart">
			<div class="container no-glitter">
				<h2>You have selected {{cart.restaurantCart.length}} Restaurants for American Foods</h2>			
			</div>
		</section>
		<section class="body-container" *ngIf="cart">
			<div class="container no-glitter">
				<div class="row clearfix"> 
					<div class="col-md-12">
						<div class="menu-step">
							<ul class="menu-step-select">
								<li class="visited"><div class="icon s-search"><i></i> <a href="entitySearch"><span>Select Menu's</span></a></div></li>
								<li class="active"><div class="icon cart"><i></i><span>Cart/Check out</span></div></li>
								<li><div class="icon payment"><i></i><span>Payment</span></div></li>
								<li><div class="icon enjoy"><i></i><span>Enjoy</span></div></li>
							</ul>
						</div>						
					</div>
					<div *ngIf="cart.restaurantCart && cart.restaurantCart.length > 0" class="checkput-container">
						<div class="col-md-8 col-sm-8">
							<div class="row-item padd15">
								<div class="row clearfix" *ngFor="let restaurant of cart.restaurantCart">
									<div class="menu-details list-checkout clearfix">
										<div class="col-md-8 col-sm-8">
											<h3>{{restaurant.restaurantName}}</h3>
											<p class="del-partner">Service Partner: <span>Zomatoo, foodpanda </span></p>
										</div>
										<div class="col-md-4 col-sm-4">
											<ul class="del-service">
												<li (click)="updateOrderMode(restaurant.restaurantId, 'takeaway', '')" class="fa fa-takeaway"></li>
												<li (click)="updateOrderMode(restaurant.restaurantId, 'takeaway', 'private')" class="fa fa-delivery active"></li>
												<li (click)="updateOrderMode(restaurant.restaurantId, 'takeaway', 'share')" class="fa fa-group"></li>
											</ul>
											<span>{{restaurant.orderMessage}}</span>
										</div>
										<div class="restu-menu" *ngFor="let item of restaurant.itemsSelected">
											<div class="col-md-6 col-sm-6">
												<div class="outer-area">
													<h4 class="restu-item"><span>{{item.productName}}<i class="veg"></i></span><div class="item-price">{{item.price}}</div></h4>
													<div class="sell-item">
														<div class="btn-holder">
															<button class="less-item" (click)="decreaseQuantity(item.productId, restaurant.restaurantId, 1)">-</button>
															<input type="text" [placeholder]="item.quantity" class="form-control" >
															<button class="add-item" (click)="increaseQuantity(item.productId, restaurant.restaurantId, 1)">+</button>
														</div>
														<a href="" class="remove-item">Remove</a>
													</div>
												</div>
											</div>
										</div>
									</div>	
		
									
								</div>
							</div>
							<div class="row-item padd20">
								<div class="delivery-address">
									<h3>Delivery Address <button type="button" class="btn-yellow pull-right btn-white">Add new address</button></h3>
									<ul>
										<li class="radio">
											<label>
												<div class="custom-radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"></div>
												<div class="add-all">
													<h4><span class="glyphicon glyphicon-home"></span> Home - B602, Sentosa</h4>
													<p> 135 Newtownards Road, Belfast, BT4 1AB</p>
												</div>												
											</label>
											<div class="add-action">
												<a class="link" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
												<a class="link" title="Remove"><span class="glyphicon glyphicon-trash"></span></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="estimate-time">
								Estimate delivery time: <span>45 Mins</span>
								<div class="promo-code">
									<input type="text" class="form-control" placeholder="Enter promo code"><button type="button" class="btn-procode">Apply</button>
								</div>
								<div class="cart-item cart-value-total"><span>Tota Amount to be paid: </span><span>{{cart.grossTotal}}</span></div>
								<button routerLink="/checkout/payment" [queryParams]="{amount: cart.grossTotal}" type="button" class="make-payment">Make Payment</button>
							</div>
							<div class="row-item padd20" *ngFor="let restaurant of cart.restaurantCart">
								<div class="cart-value" >{{restaurant.restaurantName}}
									<ul class="cart-item">
										<li *ngFor="let item of restaurant.itemsSelected">
											<small>{{item.quantity}}x</small>
											 {{item.productName}} 
											 <span>{{item.quantity * item.price}}</span>
											</li>
									</ul>
									<ul class="cart-item cart-value-total">
										<li>Subtotal <span>{{restaurant.total}}</span></li>
										<li>+ TAX<span>{{restaurant.grossTotal - restaurant.total}}</span></li>
										<li>Total will be rounded off<span>{{restaurant.grossTotal}}</span></li>
										
									</ul>
									
									
									
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>			
		</section>
