<section class="flat-highlights">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="highlights">
          <ul class="menu-list">
            <li>
              <a routerLink="/foodsearchlist"  title="">
                <img src="assets/images/page/cutlery.png" alt="">
                <span>Food</span>
              </a>
              
            </li>
            <li>
              <a routerLink="/hotelsearchlist"  title="">
                <img src="assets/images/page/double-bed.png" alt="">
                <span>Hotel</span>
              </a>
              
            </li>
          
            <li>
              <a routerLink="/hotelsearchlist" title="">
                <img src="assets/images/page/rent-a-car.png" alt="">
                <span>Automove</span>
              </a>
              
            </li>
            <li>
              <a routerLink="/shopsearchlist" title="">
                <img src="assets/images/page/shopping-bag.png" alt="">
                <span>Shop</span>
              </a>
              
            </li>
            <li>
              <a routerLink="/barsearchlist" title="">
                <img src="assets/images/page/cocktail.png" alt="">
                <span>Nightlife</span>
              </a>   
            </li>
          </ul><!-- /.menu-list -->
        </div><!-- /.highlights -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section><!-- /.flat-highlights -->
