<header  data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <div class="container no-glitter">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="top-nav">
                    <a class="logo" href="javascript:void(0);"><img src="images/logo.png" alt="woohoo" /></a>
                    <div class="location"><i class="fa fa-location"></i> 135 Newtownards Road, Belfast, BT4 1AB</div>
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav"> 
                            <li><a href="javascript:void(0);">Sign Up</a></li>	
                            <li><a href="javascript:void(0);">Log In</a></li>
                            <li><a href="javascript:void(0);" class="icon-call">Call</a></li>
                            <li class="lan"><a href="javascript:void(0);" class="lan-en active">EN</a> <a href="javascript:void(0);" class="lan-ch">CH</a></li>
                        </ul> 		
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>