<div class="col-md-12">
    <div class="setup-form">
      <div class="form-group">
        <h5>Restaurent Type</h5>
        <ul>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              American
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Europian
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Asian
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Latin
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Mediterran
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Others
            </label>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <h5>Delivery Partner</h5>
        <ul class="del-partner">
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Food panda
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Ola Cafe
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Swiggy
            </label>
          </li>
          <li class="checkbox">
            <label>
              <input type="checkbox" value="">
              Zomato
            </label>
          </li>									 
        </ul>
      </div>
      <div class="custom-table">
        <h4>Operation Time</h4>
        <div class="content table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" checked data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
                <td><input type="checkbox" checked data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
                <td><input type="checkbox" checked data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
              </tr>
              <tr>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
              </tr>											
            </tbody>
          </table>
        </div>	
      </div>
      <div class="custom-table">
        <h4>Delivery Services</h4>
        <div class="content table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" checked data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
                <td><input type="checkbox" checked data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
                <td><input type="checkbox" checked data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
                <td><input type="checkbox" data-toggle="toggle"></td>
              </tr>
              <tr>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="input-table">
                    <select class="form-control">
                      <option selected="" value="1 AM">1 AM</option>
                      <option value="2 AM">2 AM</option>
                      <option value="3 AM">3 AM</option>
                      <option value="4 AM">4 AM</option>
                      <option value=" 5 AM">&nbsp;5 AM</option>
                      <option value="6 AM">6 AM</option>
                      <option value="7 AM">7 AM</option>
                      <option value=" 8 AM">&nbsp;8 AM</option>
                      <option value="9 AM">9 AM</option>
                      <option value="10 AM">10 AM</option>
                      <option value="11 AM">11 AM</option>
                      <option value="12 PM">12 PM</option>
                    </select>
                    <label>To</label>
                    <select class="form-control">
                      <option selected="" value="12 PM">12 PM</option>
                      <option value="11 PM">11 PM</option>
                      <option value="10 PM">10 PM</option>
                      <option value="9 PM">9 PM</option>
                      <option value=" 8 PM">&nbsp;8 PM</option>
                      <option value="7 PM">7 PM</option>
                      <option value="6 PM">6 PM</option>
                      <option value=" 5 PM">&nbsp;5 PM</option>
                      <option value="4 PM">4 PM</option>
                      <option value="3 PM">3 PM</option>
                      <option value="2 PM">2 PM</option>
                      <option value="1 PM">1 PM</option>
                    </select>
                  </div>
                </td>
              </tr>											
            </tbody>
          </table>
        </div>	
      </div>
      <div class="text-right btn-holder">
        <button type="submit" class="btn btn-default btn-fill btn-wd" >Back</button>
        <button type="submit" class="btn btn-primary btn-fill btn-wd">Save</button>
        <button type="submit" class="btn btn-primary btn-fill btn-wd" (click)="saveRestaurentDetail()">Next</button>
      </div>
    </div>
  </div>