<div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="header-wrap">
            <div id="logo" class="logo">
              <a routerLink="/" title="WooHoo">
                WooHoo
              </a>
            </div><!-- /.logo -->
            <div class="nav-wrap">
              <nav id="mainnav" class="mainnav">
                 <ul class="menu">
              
                <span class="ti-location-pin"></span>
                <label  placeholder="Location" name="location">Pune,Maharashtra</label>
                      
                 </ul>
              </nav>
              <div class="button-header">
                  <a routerLink="/login" class="btn btn-info" >Login/SignUp</a>
              </div>
            </div><!-- /.nav-wrap -->
          </div><!-- /.header-wrap -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.header -->
  
<app-basic-search></app-basic-search>

  <section class="flat-highlights">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="highlights">
            <ul class="menu-list">
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/cutlery.png" alt="">
                  <span>Food</span>
                </a>
                
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/double-bed.png" alt="">
                  <span>Hotel</span>
                </a>
                
              </li>
            
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/rent-a-car.png" alt="">
                  <span>Automove</span>
                </a>
                
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/shopping-bag.png" alt="">
                  <span>Shop</span>
                </a>
                
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/dumbbell.png" alt="">
                  <span>Fitness</span>
                </a>
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/cocktail.png" alt="">
                  <span>Nightlife</span>
                </a>
                
              </li>
              <li>
                <a href="#" title="">
                  <img src="assets/images/page/park.png" alt="">
                  <span>Park</span>
                </a>
                
              </li>
            </ul><!-- /.menu-list -->
          </div><!-- /.highlights -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section><!-- /.flat-highlights -->
  
  <section class="flat-row flat-imagebox style5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="flat-row-title center">
            <h2>Our Top Resturants</h2>
            <p>
              Not limit your Taste
            </p>
          </div>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-6">
          <div class="imagebox style5">
            <div class="box-image">
              <img src="assets/images/page/halong.png" alt="">
              <div class="overlay"></div>
            </div>
            <div class="box-content">
              <a href="#" title="">Europian</a>
              <p>2 Resturants near You</p>
            </div>
          </div><!-- /.imagebox style5 -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-3 col-sm-6">
          <div class="imagebox style5">
            <div class="box-image">
              <img src="assets/images/page/tokyo.png" alt="">
              <div class="overlay"></div>
            </div>
            <div class="box-content">
              <a href="#" title="">American</a>
              <p>8 Resturants Near By</p>
            </div>
          </div><!-- /.imaebox style5 -->
          <div class="height20"></div>
          <div class="imagebox style5">
            <div class="box-image">
              <img src="assets/images/page/hanoi.png" alt="">
              <div class="overlay"></div>
            </div>
            <div class="box-content">
              <a href="#" title="">Asian</a>
              <p>8 Resturants Near You</p>
            </div>
          </div><!-- /.imaebox style5 -->
        </div><!-- /.col-md-3 col-sm-6 -->
        <div class="col-md-3 col-sm-6">
          <div class="imagebox style5">
            <div class="box-image">
              <img src="assets/images/page/newyork.png" alt="">
              <div class="overlay"></div>
            </div>
            <div class="box-content">
              <a href="#" title="">New York</a>
              <p>USA</p>
            </div>
          </div><!-- /.imagebox style5 -->
          <div class="height20"></div>
          <div class="imagebox style5">
            <div class="box-image">
              <img src="assets/images/page/seoul.png" alt="">
              <div class="overlay"></div>
            </div>
            <div class="box-content">
              <a href="#" title="">Others</a>
              <p>15 Resturants Near you</p>
            </div>
          </div><!-- /.imagebox style5 -->
        </div><!-- /.col-md-3 col-sm-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.flat-imagebx style5 -->
  
  <section class="flat-row flat-imagebox background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="flat-row-title center">
            <h2>Best Things to Do in the City</h2>
            <p>
              Search and Find what you are looking for. Best spots are here for you
            </p>
          </div><!-- /.flat-row-title -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/img-01.png" alt="">
                  <a href="#" title="">Preview</a>
                  <div class="overlay"></div>
                  <div class="queue">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  </div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title ad">
                  <span>Ad</span><a href="#" title="">Night Life</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <ul class="rating">
                  <li>5 rating</li>
                  <li>Moderate</li>
                  <li>Restaurant</li>
                </ul>
                <div class="box-desc">
                  About Night Life aviables in City and near by cities
                </div>
              </div><!-- /.box-content -->
              <ul class="location">
                <li class="address"><span class="ti-location-pin"></span>pune,Maharashtra</li>
                <li class="closed">Book</li>
              </ul><!-- /.location -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/img-02.png" alt="">
                  <a href="#" title="">Preview</a>
                  <div class="overlay"></div>
                  <div class="queue">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="">Hotels</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <ul class="rating">
                  <li>10 rating</li>
                  <li>Ultra High End</li>
                  <li>Hotel</li>
                </ul>
                <div class="box-desc">
                  Near by Hotel avilable with high rating and details
                </div>
              </div><!-- /.box-content -->
              <ul class="location">
                <li class="address"><span class="ti-location-pin"></span>pune,Maharashtra</li>
                <li class="open">Book</li>
              </ul><!-- /.location -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/img-03.png" alt="">
                  <a href="#" title="">Preview</a>
                  <div class="overlay"></div>
                  <div class="queue">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="">Amazing Places </a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <ul class="rating">
                  <li>6 rating</li>
                  <li>Enjoy your Travel</li>
                  <li>Most Enjoy Raniy Seasone</li>
                </ul>
                <div class="box-desc">
                  About Travle plases near to you
                </div>
              </div><!-- /.box-content -->
              <ul class="location">
                <li class="address"><span class="ti-location-pin"></span>pune, Maharashtra</li>
                <li class="open">Book</li>
              </ul><!-- /.location -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.flat-imagebox style2 -->