<section class="flat-row flat-imagebox style5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>Our Best Delicious Foods</h2>
          <p>
            Not limit your Taste
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
       <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/japanise.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Japanise</a>
            <p>8 Resturants Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/europian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Europian</a>
            <p>8 Resturants Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/american.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">American</a>
            <p>8 Resturants Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/chinese.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Chinese</a>
            <p>8 Resturants Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/indian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Indian</a>
            <p>8 Resturants Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/austrelian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Austerlian</a>
            <p>8 Resturants Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/latian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Italian</a>
            <p>USA</p>
          </div>
        </div><!-- /.imagebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/korean.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Korean Foods</a>
            <p>15 Resturants Near you</p>
          </div>
        </div><!-- /.imagebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-imagebx style5 -->