
<app-entity></app-entity>
<section class="flat-row flat-imagebox style5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2 translate="label10">{{label10}}</h2>
          <p translate="label11">
            {{label11}}
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
       <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/japanise.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="japanese">{{japanese}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/europian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="europian">{{europian}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/american.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="american">{{american}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/chinese.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="chinese">{{chinese}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/indian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="indian">{{indian}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/austrelian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="austerlian">{{austerlian}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/latian.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="italian">{{italian}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imagebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/foods/korean.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a routerLink="/entitysearch" title="" translate="korean">{{korean}}</a>
            <p translate="label12">{{label12}}</p>
          </div>
        </div><!-- /.imagebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-imagebx style5 -->