<section class="page-search">
  <div class="container no-glitter">
    <div class="search-form text-center">
      <h4>Your table has been reserved successfully.</h4>
    </div>
  </div>
</section>


<div style="text-align: center;">
  <h3>Table Number:
    <b>#HJUY567TG</b>
  </h3>
</div>
<br>

<div style="text-align: center;">

  <button style="margin:5px;" class="button2">
    SHARE YOUR TABLE NUMBER WITH FRIENDS
  </button>

  <button style="margin:5px;" class="button2">
    INVITE OTHER EAZDINERS TO JOIN YOUR TABLE
  </button>
</div>
<br>
<br>
<div style="text-align: center;">
  <button class="button3">
    CONTINUE TO VIEW MENU
  </button>
</div>
<br>

<div style="text-align: center;">
  <h4> {{restaurentName}}</h4>
  {{restaurentAddress}}
  <i class="fa fa-location"></i>

</div>

<hr style="height:1px;border:none;color:#333;background-color:#333;">

<span>
  <h4> Contact List (The person who also used Eazdine.)</h4>
</span>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active">
    <div class="menu-list-item">
      <div class="row clearfix">
        <div>

          <div class="col-sm-3 col-md-3">
            <div class="menu">
              <figure>
                <a href="javascript:void(0);"></a>
              </figure>
              <div class="order-area">
                <div class="menu-title">
                  <a>
                    <h4>Ajay Singh</h4>
                  </a>
                  <span>+91-9809876543
                  </span>
                </div>
              </div>
            </div>
          </div>




          <div class="col-sm-3 col-md-3">
            <div class="menu">
              <figure>
                <a href="javascript:void(0);"></a>
              </figure>
              <div class="order-area">
                <div class="menu-title">
                  <a>
                    <h4>Sudhanshu Lenka</h4>
                  </a>
                  <span>+91-9809876543
                  </span>
                </div>
              </div>
            </div>
          </div>


          <div class="col-sm-3 col-md-3">
            <div class="menu">
              <figure>
                <a href="javascript:void(0);"></a>
              </figure>
              <div class="order-area">
                <div class="menu-title">
                  <a>
                    <h4>Noor Fatima</h4>
                  </a>
                  <span>+91-9809876543
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col-md-3">
            <div class="menu">
              <figure>
                <a href="javascript:void(0);"></a>
              </figure>
              <div class="order-area">
                <div class="menu-title">
                  <a>
                    <h4>Arpan Khagram</h4>
                  </a>
                  <span>+91-9809876543
                  </span>
                </div>
              </div>
            </div>
          </div>


          <div class="col-sm-3 col-md-3">
            <div class="menu">
              <figure>
                <a href="javascript:void(0);"></a>
              </figure>
              <div class="order-area">
                <div class="menu-title">
                  <a>
                    <h4>Pankaj Labade</h4>
                  </a>
                  <span>+91-9809876543
                  </span>
                </div>
              </div>
            </div>
          </div>



          <div class="col-sm-3 col-md-3">
            <div class="menu">
              <figure>
                <a href="javascript:void(0);"></a>
              </figure>
              <div class="order-area">
                <div class="menu-title">
                  <a>
                    <h4>Avijit Singh</h4>
                  </a>
                  <span>+91-9809876543
                  </span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>