<section class="page-title style1 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-box-search style1">
          <form action="#" method="post" accept-charset="utf-8">
            <span>
              <input type="text" placeholder="What are you looking for ?" name="search">
            </span>
            <span class="location">
              <input type="text" placeholder="Location" name="location">
            </span>
            <div class="button-header">
                <a  routerLink="/searchlist" class="btn btn-info" >Search</a>
            </div>
          </form><!-- /form -->
        </div><!-- /.wrap-box-search -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->