<section class="page-heading clearfix">
		<div class="container text-center no-glitter">
			<h2>Please Log In 0r Create your account</h2>
		</div>
	</section>
	
	<section class="body-container">
		<div class="container no-glitter">
			<div class="row clearfix">
				<div class="col-md-12">
	
					<div class="row-item profile-list clearfix">
						<div class="login-container">
							<div class="login-inner">
								<div class="login-left">
									<div class="content-logn">
										<figure class="inner-logo">
											<a (click)="signInWithGoogle()"><img src="assets/images/btn-google.png" alt="" /></a>
										</figure>
										<figure class="inner-logo">
											<a (click)="signInWithFB()"><img src="assets/images/btn-fb.png" alt="" /></a>
										</figure>
	
									</div>
								</div>
								<div class="login-right">
									<ul class="toggle-top clearfix">
										<li><a (click)="showLoginTab()" role="presentation"
											class="button-toggle {{isLoginTabActive}}">Log In</a></li>
										<li><a (click)="showUserSignUP()" role="presentation"
											class="button-toggle {{isSignupTabActive}}">Sign Up</a></li>
									</ul>
									<div class="toggle-content clearfix">
										<div class="form-login" id="loginSection"
											*ngIf='displaySection'>
											<div class="form-group">
												<label for="email">Email address</label> 
												<input type="email" [(ngModel)]="username"	class="form-control" id="email">
											</div>
											<div class="form-group">
												<label for="pwd">Password</label> 
												<input type="password" [(ngModel)]="password"	class="form-control" id="pwd">
											</div>
	
											<div class="btn-area clearfix">
												<a href="javascript:void(0);" class="forget-pass">Forget
													Password ?</a>
												<div class="clearfix"></div>
												<button type="submit" class="btn btn-default btn-login">Let
													Me In</button>
												<p>
													Please read our <a href="javascript:void(0);">T&C </a> and <a
														href="javascript:void(0);">Privacy Policy. </a>
												</p>
											</div>
										</div>
	
	
										<div class="form-login" id="content-signup"
											*ngIf='!displaySection'>
											<div class="form-group">
												<label for="email">Email address</label> <input type="email"
													class="form-control" id="email">
											</div>
											<div class="form-group">
												<label for="pwd">Password</label> <input type="password"
													class="form-control" id="pwd">
											</div>
	
											<div class="form-group">
												<label for="pwd">Confirm Password</label> <input
													type="password" class="form-control" id="pwd">
											</div>
	
	
											<div class="btn-area clearfix">
												<button type="submit" class="btn btn-default btn-login">Register</button>
												<p>
													Please read our <a href="javascript:void(0);">T&C </a> and <a
														href="javascript:void(0);">Privacy Policy. </a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
					</div>
	
	
	
					<div class="advertise-container text-center">
						<div class="col-md-6">
							<figure>
								<a href="javascript:void(0);"><img
									src="assets/images/advertise-small.jpg" alt=""></a>
							</figure>
						</div>
						<div class="col-md-6">
							<figure>
								<a href="javascript:void(0);"><img
									src="assets/images/advertise-small.jpg" alt=""></a>
							</figure>
						</div>
					</div>
				</div>
	
	
			</div>
		</div>
	</section>
	