
 <!-- Loginn and register-->
 <section class="flat-row flat-login style2 parallax1" id="login">
		<div class="container">
		  <div class="row">
			<div class="col-lg-2">
			</div><!-- /.col-lg-2 -->
			<div class="col-lg-4 col-sm-6">
			  <div class="login-form style2">
				<h3>Register</h3>
				<form action="#" method="get" accept-charset="utf-8">
				  <div class="wrap-login firstname">
					<label>First name</label>
					<input type="text" [(ngModel)]="firstname"  class="first-name" name="firstname">
				  </div>
				  <div class="wrap-login lastname">
					<label>Last name</label>
					<input type="text" [(ngModel)]="lastname" class="last-name" name="lastname">
				  </div>
				  <div class="wrap-login">
					<label>Email address *</label>
					<input type="text" [(ngModel)]="username" class="username" name="username">
				  </div>
				  <div class="wrap-login">
					<label>Password *</label>
					<input type="password" [(ngModel)]="password" class="password" name="password">
				  </div>
				  <div class="btn-more">
					<a (click)="signUp()" href="#" title="">Register</a>
				  </div>
				</form><!-- /form -->
			  </div><!-- /.login-form style2 -->
			</div><!-- /.col-lg-4 col-sm-6 -->
			<div class="col-lg-6 col-sm-6">
				<div class="login-form style2">
					<h3>Login</h3>
	
					<div class="wrap-login firstname">
						<label>Email address *</label>
						<input type="text" [(ngModel)]="username" class="username" name="username">
					  </div>
					  <div class="wrap-login lastname">
						<label>Password *</label>
						<input type="password" [(ngModel)]="password" class="password" name="password">
					  </div>
				  <div class="btn-more">
					  <a (click)="signIn()" href="#" title="">Login</a>
					</div>
			  <div class="login-social">
				<div>For faster login or register use your social account.</div>
				<button class="facebook" title="" (click)="signInWithFB()"><span class="ti-facebook"></span>Login with Facebook</button>
				<p>or</p>
				<button class="google" title="" (click)="signInWithGoogle()"><span class="ti-google"></span>Login with Google</button>
			  </div><!-- /.login-social -->
			  </div>
			</div><!-- /.col-lg-5 col-sm-6 -->
			<div class="col-lg-1">
			</div><!-- /.col-lg-1 -->
		  </div><!-- /.row -->
		</div><!-- /.container -->
		<div class="overlay"></div>
	  </section><!-- /.flat-login style2 -->