
<div class="container-fluid">
    <mat-toolbar class="app-header">
        <mat-icon>home</mat-icon>
        <h2>
         <span><b>WooHoo</b></span>
       </h2>
       
       <span class="fill-remaining-space"></span>
       
       <h3>
          <span>Help</span>
       </h3>
       <mat-icon>help_outline</mat-icon>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <!--<mat-icon data-target="#myModal">account_circle</mat-icon>-->
       <button type="button" class="btn-primary-outline glyphicon glyphicon-user" data-toggle="modal" data-target="#myModal"></button>

       <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="content-block">
            <ul class="nav nav-justified">
              <li>Sign Up</li>
              <li>Login</li>
            </ul>
          </div>
        </div>
        
      </div>
  
    </div>
  </div>

    </mat-toolbar>
    <mat-card class="bk_image_home">
        <mat-card-content class="card_home_page_image">
        <h1 class="">Order delicius food online!</h1>
        <h3>Order food online from the best restaurants near you</h3>
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <form>
              <div class="v-offset-3">
                  <div class="col-md-4">
                      <label class="control-label ">City</label>
                          <input class="form-control"  name="adhesiveremoverlotnumber" ng-model="monitoringPackage.adhesiveremoverlotnumber" required="required" >
                    </div>
                  
                    <div class="col-md-4">
                      <label class="control-label ">Area</label>
                      <input class="form-control"  name="adhesiveremoverexpirydateformat" ng-model="monitoringPackage.adhesiveremoverexpirydateformat" required="required" >
                    </div>
                  
                    <div class="col-md-4">
                      <label class="control-label ">Favourite Food</label>
                      <input class="form-control"  name="adhesiveremoverexpirydate" ng-model="monitoringPackage.adhesiveremoverexpirydate" required="required" >
                    </div>
                  </div>

            <!--  <mat-form-field>
                <mat-select placeholder="Select City">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                  <input matInput  placeholder="Select Area">
                </mat-form-field>          
              <mat-form-field>
                <mat-select placeholder="Favorite food">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{ food.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <div>
                  <button mat-button>Search Restaurants</button>
              </div>
              
          </form>
          </div>
        </mat-card-content>
     </mat-card>
    
     <mat-card class="google_play_home">
      <h3>Google Play</h3>
    </mat-card>  
    
    <mat-card class="about_us_home">
        <mat-grid-list cols="3">
            <mat-grid-tile>
              <mat-grid-tile-header>About Us</mat-grid-tile-header>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-grid-tile-header>Contat Us</mat-grid-tile-header>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-grid-tile-header>Useful Links</mat-grid-tile-header>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>  
    
    <mat-card class="rights_home">
        <h3>@2018 ALL RIGHTS RESERVED | LogicQ Pvt Ltd | WooHoo Inc | Brands Mentioned Above Are Property Of Their Respective Owner</h3>
    </mat-card>

</div>


<!--
<mat-toolbar class="app-header">
        <mat-icon>home</mat-icon>
        <h2>
         <span><b>WooHoo</b></span>
       </h2>
       
       <span class="fill-remaining-space"></span>
       
       <h3>
          <span>Help</span>
       </h3>
       <mat-icon>help_outline</mat-icon>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <mat-icon>account_circle</mat-icon>
 </mat-toolbar>

 <mat-card class="bk_image_home">
    <mat-card-content class="card_home_page_image">
    <h1 class="">Order delicius food online!</h1>
    <h3>Order food online from the best restaurants near you</h3>
      <form>
          <mat-form-field>
            <mat-select placeholder="Select City">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input matInput  placeholder="Select Area">
            </mat-form-field>          
          <mat-form-field>
            <mat-select placeholder="Favorite food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button>Search Restaurants</button>
      </form>
    </mat-card-content>
 </mat-card>

 <mat-card class="google_play_home">
  <h3>Google Play</h3>
</mat-card>  

<mat-card class="about_us_home">
    <mat-grid-list cols="3">
        <mat-grid-tile>
          <mat-grid-tile-header>About Us</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>Contat Us</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>Useful Links</mat-grid-tile-header>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>  

<mat-card class="rights_home">
    <h3>@2018 ALL RIGHTS RESERVED | LogicQ Pvt Ltd | WooHoo Inc | Brands Mentioned Above Are Property Of Their Respective Owner</h3>
</mat-card>  -->