<div class="col-md-12" id="ex-tab-menu">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#breakfast" data-toggle="tab">Breakfast</a>
      </li>
      <li><a href="#lunch" data-toggle="tab">Lunch</a></li>
      <li><a href="#dinner" data-toggle="tab">Dinner</a></li>
    </ul>
  
    <div class="tab-content ">
  
      <div class="tab-pane active" id="breakfast">
        <div *ngFor="let resMenu of restaurentMenu">
          <div class="col-md-3 col-sm-3"
            *ngIf="resMenu.foodServiceType.serviceType==='Breakfast'">
            <div class="sub-item {{resMenu.itemSelected}}">
              <div class="add-to-cart">
                <h4>{{resMenu.itemName}}</h4>
                <span class="m-price"><span>{{currentCurreny}}</span>{{
                  resMenu.displayPrice}}</span> <a class="add-cart"
                  (click)="addProductToCart(resMenu, 1)"> <i class="fa"></i></a>
              </div>
              <span class="menu-tag" *ngIf="resMenu.isVeg===true;else veg" #veg><img
                src="assets/images/hotelmenu/newVeg.png" alt=""></span> <span
                class="menu-tag" *ngIf="resMenu.isVeg===false;else nonveg"
                #nonveg><img src="assets/images/hotelmenu/newNonVeg.png"
                alt=""></span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="tab-pane" id="lunch">
        <div *ngFor="let resMenu of restaurentMenu">
          <div class="col-md-3 col-sm-3"
            *ngIf="resMenu.foodServiceType.serviceType==='Lunch'">
            <div class="sub-item {{resMenu.itemSelected}}">
              <div class="add-to-cart">
                <h4>{{resMenu.itemName}}</h4>
                <span class="m-price"><span>{{currentCurreny}}</span>{{
                  resMenu.displayPrice}}</span> <a class="add-cart"
                  (click)="addProductToCart(resMenu, 1)"> <i class="fa"></i></a>
              </div>
              <span class="menu-tag" *ngIf="resMenu.isVeg===true;else veg" #veg><img
                src="assets/images/hotelmenu/newVeg.png" alt=""></span> <span
                class="menu-tag" *ngIf="resMenu.isVeg===false;else nonveg"
                #nonveg><img src="assets/images/hotelmenu/newNonVeg.png"
                alt=""></span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="tab-pane" id="dinner">
  
        <div *ngFor="let resMenu of restaurentMenu">
  
          <div class="col-md-3 col-sm-3"
            *ngIf="resMenu.foodServiceType.serviceType==='Dinner'">
            <div class="sub-item {{resMenu.itemSelected}}">
              <div class="add-to-cart">
                <h4>{{resMenu.itemName}}</h4>
                <span class="m-price"><span>{{currentCurreny}}</span>{{
                  resMenu.displayPrice}}</span> <a class="add-cart"
                  (click)="addProductToCart(resMenu, 1)"> <i class="fa"></i></a>
              </div>
              <span class="menu-tag" *ngIf="resMenu.isVeg===true;else veg" #veg><img
                src="assets/images/hotelmenu/newVeg.png" alt=""></span> <span
                class="menu-tag" *ngIf="resMenu.isVeg===false;else nonveg"
                #nonveg><img src="assets/images/hotelmenu/newNonVeg.png"
                alt=""></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>