<div class="col-md-12" id="open_menu">
        <div class="open-menu-item">
          <div class="row">
            <div class="col-md-3 col-sm-3" *ngFor="let resMenu of restaurentMenu">
              <div class="sub-item">              
                <div class="add-to-cart">
                  <h4>{{resMenu.itemName}}</h4>
                  <span class="m-price"><span>$</span>{{ resMenu.displayPrice}}</span>
                  <a class="add-cart" (click)="addProductToCart(resMenu, 1)">
                      <i class="fa"></i></a>
                </div>
                <span class="menu-tag" *ngIf="resMenu.isVeg===true;else veg" #veg  ><img src="assets/images/hotelmenu/newVeg.png" alt=""></span>
                <span class="menu-tag" *ngIf="resMenu.isVeg===false;else nonveg" #nonveg  ><img src="assets/images/hotelmenu/newNonVeg.png" alt=""></span>
              </div>
            </div>	         
          </div>
        </div>
</div>

<app-shopping-cart [cartItemsCount]="itemsCount"></app-shopping-cart>