<app-basic-search></app-basic-search>
<app-entity></app-entity>
<section class="flat-row flat-imagebox style5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>Top Rated Bars and Dance Floor for your Night Life</h2>
          <p>
            No limit to your dancing and drinking
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
       <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/nightsclub.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Night Clubs</a>
            <p>8  Near By</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/pubs.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Pubs</a>
            <p>8  Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/barsrestrutant.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Bars and Restrurant</a>
            <p>8  Near By</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/sportsbar.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Sports Bar</a>
            <p>8  Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/lounges.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Lounges</a>
            <p>8  Near By</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/billards.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Billards</a>
            <p>8  Near You</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/comedyclub.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Comedy Clubs</a>
            <p>9 near by</p>
          </div>
        </div><!-- /.imagebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/nightlife/livemusic.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Live Music</a>
            <p>15  Near you</p>
          </div>
        </div><!-- /.imagebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-imagebx style5 -->