<div class="col-md-12">
    <div class="row clearfix">
      <div class="col-md-6 col-sm-6">
        <div class="panel panel-default user-details">
          <div class="panel-heading">
            <h3 class="panel-title">Personal Info</h3>
          </div>
          <div class="panel-body">
            <p>Mr. Alan Michlle</p>
            <p><span>Email:</span> alan.michle2000@gmail.com</p>
            <p><span>Phone:</span> +91 2302304444</p>
            <p><span>Address:</span>  S Villa , Servey No. 12345/1234/ek, New york city. USA</p>
          </div>
        </div>
      </div> 
      <div class="col-md-6 col-sm-6">
        <div class="panel panel-default user-details">
          <div class="panel-heading">
            <h3 class="panel-title">Hotel Details</h3>
          </div>
          <div class="panel-body">
            <p>Relaxy Garden Restro and bar</p>
            <p><span>Registration No:</span> regi-no-340721E-340</p>										
            <p><span>Address:</span>  S Villa , Servey No. 12345/1234/ek, New york city. USA</p>
            <p><span>City:</span> New York</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="panel panel-default user-details">
          <div class="panel-heading">
            <h3 class="panel-title">Restaurant Information</h3>
          </div>
          <div class="panel-body">
            <p><span>Restaurant Type</span>American, Asian</p>
            <p><strong>Delivery Partner</strong></p>
            <ul>
              <li>FoodPanda</li>
              <li>Ola Cafe</li>
              <li>Swiggy</li>
            </ul>
            <p><strong>Food Services Type</strong></p>
            <ul>
              <li>Breakfast</li>
              <li>Lunch</li>
              <li>Dinner</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-right btn-holder">
          <button type="submit" class="btn btn-default btn-fill btn-wd" >Back</button>
          <button type="submit" class="btn btn-success btn-fill btn-wd">Finish</button> 
        </div>
      </div>
    </div>
   </div>	