
.profile-list {padding:15px 15px 10px 15px;}
.profile-list .media-left a{width:70px; display:block; border-radius:50%; overflow:hidden}
.profile-list h3{margin:0 }
.profile-list .media-body p{ font-size: 15px;}
.profile-list .media-body p span{color: #a3a3a3; }

.profile-list .link-edit{margin:0 0 0 15px; display:inline-block}
.link-btn{color: #2d619b;}

.card-list{ display: flex; flex-wrap: wrap;}
.card-item{margin: 10px; border:1px dashed #787878; border-radius:5px; padding:10px;}
.card-item label{position:relative; padding-left:20px;}
.card-item label  input[type=radio]{position:absolute; left:0; top:0;}
.top-edit{text-align:right;}
.top-edit{text-align:center; margin-top:15px; background:#f5f5f5; padding-top:5px; padding-bottom:5px;}
.profile-list .media-body p span{display:block}
.card-list{margin-top:10px;}
.card-item{width:100%;margin:5px 0; }