
				<section class="page-heading clearfix">
                    <div class="container no-glitter">
                        <h2>Thanks for paying: <span>{{cart.grossTotal}}</span></h2>			
                    </div>
                </section>
        
                <section class="body-container">
                    <div class="container no-glitter">
                        <div class="row clearfix"> 
                            <div class="col-md-12">
                                <div class="menu-step">
                                    <ul class="menu-step-select">
                                        <li class="visited"><div class="icon s-search"><i></i> <a href="entitySearch"><span>Select Menu's</span></a></div></li>
                                        <li class="visited"><div class="icon cart"><i></i><span>Cart/Check out</span></div></li>
                                        <li class="visited"><div class="icon payment"><i></i><span>Payment</span></div></li>
                                        <li class="active"><div class="icon enjoy"><i></i><span>Enjoy</span></div></li>
                                    </ul>
                                </div>						
                            </div>
                        </div> 
                    </div>			
                </section>