<section class="page-title style1 parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="wrap-box-search style1">
          <form action="#" method="post" accept-charset="utf-8">
            <span>
              <input type="text"  [(ngModel)]="entitytype"  [placeholder]=" 'lookingfor' | translate" name="search" list="entitysearch">
              <datalist id="entitysearch">
                  <option [value]=" 'food' | translate">
                  <option [value]=" 'hotel' | translate">
                  <option [value]=" 'shop' | translate">
                  <option [value]=" 'nightlife' | translate">
                </datalist>
            </span>
            <span class="location" >
                <input type="text" [(ngModel)]="location" class="form-control"  [placeholder]=" 'searchforlocation' | translate" #search [formControl]="searchControl" >
            </span>
            <div class="button-header" >
                <a  class="btn btn-info" (click)="restaurentSearchdata()" > {{'bsearch' | translate}}</a>
            </div>
          </form><!-- /form -->
        </div><!-- /.wrap-box-search -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="overlay"></div>
</section><!-- /.page-title -->