<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner slider-container">
          <div class="item active">
            <img src="assets/images/banner-1.jpg">
            <div class="search-form text-center">
                    <h2>{{'landingfoodheader' | translate}}</h2>
                    <p>{{'landingfoodorder' | translate}}</p>
                    <div class="form-inner">
                        <div class="custom-ddl">
                            <select class="css-ddl" [(ngModel)]="restaurentTypeId">
                            <option *ngFor="let resType of restaurentTypes" [ngValue]="resType.id">{{resType.type | translate}}</option>
                            </select>
                        </div>
                        <input type="text" [(ngModel)]="foodCategory" class="form-control" [placeholder]=" 'landingfoodplaceholder' | translate">
                        <button type="button" (click)="searchRestaurent(restaurentTypeId)" class="btn-search"></button>
                    </div>
                </div>
          </div>
          <div class="item">
            <img src="assets/images/hotel_banner.jpg">
            <div class="search-form text-center">
                    <h2>{{'landinghotelheader' | translate}}</h2>
                    <p>{{'landinghotelsubheader' | translate}}</p>
                    <div class="form-inner">
                        <div class="custom-ddl">
                            <select class="css-ddl">
                                <option value="0">{{'select' | translate}}</option>
                                <option value="Luxury" selected>{{'Luxury' | translate}}</option>
                                <option value="Boutique">{{'Boutique' | translate}}</option>
                                <option value="Full-service">{{'Full-Service' | translate}}</option>	
                                <option value="Economy">{{'Economy' | translate}}</option>	
                                <option value="Motel">{{'Motel' | translate}}</option>	
                                <option value="Microstay">{{'Microstay' | translate}}</option>	
                            </select>
                        </div>
                        <input type="text" class="form-control" [placeholder]="'landinghotelplaceholder' | translate">
                        <button type="button" class="btn-search"></button>
                    </div>
                </div>
          </div>
          <div class="item">
                <img src="assets/images/shop_banner.jpg">
                <div class="search-form text-center">
                        <h2>{{'landingshopheader' | translate}}</h2>
                        <p>{{'landingshopsubheader' | translate}}</p>
                        <div class="form-inner">
                            <div class="custom-ddl">
                                <select class="css-ddl">
                                    <option value="0">{{'select' | translate}}</option>
                                    <option value="Boutique" selected>{{'landingshopBoutique' | translate}}</option>
                                    <option value="TravelAgent">{{'TravelAgent' | translate}}</option>
                                    <option value="Bakery" >{{'Bakery' | translate}}</option>
                                    <option value="DeptmentalStore">{{'DeptmentalStore' | translate}}</option>
                                    <option value="Malls">{{'Malls' | translate}}</option>
                                    <option value="SuperMarket">{{'SuperMarket' | translate}}</option>	
                                 	
                                </select>
                            </div>
                            <input type="text" class="form-control" [placeholder]="'landingshopplaceholder' | translate">
                            <button type="button" class="btn-search"></button>
                        </div>
                    </div>
              </div>

              <div class="item">
                    <img src="assets/images/activity_banner.jpg">
                    <div class="search-form text-center">
                            <h2>{{'landingactivityheader' | translate}}</h2>
                            <p>{{'landingactivitysubheader' | translate}}</p>
                            <div class="form-inner">
                                <div class="custom-ddl">
                                    <select class="css-ddl">
                                        <option value="0">{{'select' | translate}}</option>
                                        <option value="Archery" selected>{{'Archery' | translate }}</option>
                                        <option value="Camping">{{'Camping' | translate}}</option>
                                        <option value="Canoeing">{{'Canoeing' | translate}}</option>
                                        <option value="Climbing">{{'Climbing' | translate}} </option>
                                        <option value="Abseil">{{'Abseil' | translate}}</option>
                                        <option value="Scrambling">{{'Scrambling' | translate}}</option>
                                        <option value="Scuba">{{'Scuba Diving' | translate}} </option>
                                        <option value="Rafting">{{'Rafting' | translate}}</option>	
                                    </select>
                                </div>
                                <input type="text" class="form-control" [placeholder]="'landingactivityplaceholder' | translate">
                                <button type="button" class="btn-search"></button>
                            </div>
                        </div>
                  </div>

                  <div class="item">
                        <img src="assets/images/nightlife_banner.jpg">
                        <div class="search-form text-center">
                                <h2>{{'landingnightheader' | translate}}</h2>
                                <p>{{'landingnightsubheader' | translate}}</p>
                                <div class="form-inner">
                                    <div class="custom-ddl">
                                        <select class="css-ddl">

                                            <option value="Pubs" selected>{{'Pubs' | translate}}</option>
                                            <option value="Bars">{{'Bars' | translate}}</option>	
                                            <option value="music">{{'Live music' | translate}}</option>
                                            <option value="Concerts">{{'Concerts' | translate}}</option>
                                            <option value="Cabarets">{{'Cabarets' | translate}}</option>
                                            <option value="Theatre">{{'Theatre' | translate}}</option>
                                            <option value="Cinemas">{{'Cinemas' | translate}}</option>
                                            <option value="Nightclubs">{{'Nightclubs' | translate}}</option>
                                            <option value="Sports">{{'Sports' | translate}}</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control" [placeholder]="'landingnightplaceholder' | translate">
                                    <button type="button" class="btn-search"></button>
                                </div>
                            </div>
                      </div>

                      <div class="item">
                            <img src="assets/images/emergency_banner.jpg">
                            <div class="search-form text-center">
                                    <h2>{{'landingemergencyheader' | translate}}</h2>
                                    <p>{{'landingemergencysubheader' | translate}}</p>
                                    <div class="form-inner">
                                        <div class="custom-ddl">
                                            <select class="css-ddl">
                                                <option value="medicine" selected>{{'Medicine Stores' | translate}}</option>
                                                <option value="Ambulance">{{'Ambulance' | translate}}</option>
                                                <option value="Hospitals">{{'Hospitals' | translate}}</option>
                                              </select>
                                        </div>
                                        <input type="text" class="form-control" [placeholder]="'landingemergencyplaceholder' | translate">
                                        <button type="button" class="btn-search"></button>
                                    </div>
                                </div>
                          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      	<!-- Body Container Start-->
		<section class="container no-glitter">			
                <div class="menulist-tab">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li role="presentation" class="{{activeFlag.foodsTabActive}}"><a  routerLink="/" (click)="setActive('FOODS')"            role="tab" data-toggle="tab">{{'FOODS' | translate}}</a></li>
                        <li role="presentation" class="{{activeFlag.hotelsTabActive}}"><a  routerLink="/hotels"   (click)="setActive('HOTELS')"    role="tab" data-toggle="tab">{{'HOTELS' | translate}}</a></li>
                        <li role="presentation" class="{{activeFlag.shopTabActive}}"><a  routerLink="/shop" (click)="setActive('SHOP')"  role="tab" data-toggle="tab">{{'SHOP' | translate}}</a></li> 
                        <li role="presentation" class="{{activeFlag.activtiesTabActive}}"><a  routerLink="/activites" (click)="setActive('ACTIVTIES')" role="tab" data-toggle="tab">{{'ACTIVTIES' | translate}}</a></li> 
                        <li role="presentation" class="{{activeFlag.nightlifeTabActive}}"><a  routerLink="/nightlife"  (click)="setActive('NIGHTLIFE')"role="tab" data-toggle="tab">{{'NIGHT LIFE' | translate}}</a></li> 
                        <li role="presentation" class="{{activeFlag.emergencyTabActive}}"><a  routerLink="/emergency"  (click)="setActive('EMERGENCY')"role="tab" data-toggle="tab">{{'EMERGENCY SERVICES' | translate}}</a></li> 
                    </ul>
                    </div>
                    </section>
<router-outlet></router-outlet>