<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner slider-container">
          <div class="item active">
            <img src="assets/images/banner-1.jpg">
            <div class="search-form text-center">
                    <h2>Search delicious food online!</h2>
                    <p>Order food online from the best restaurants near you.</p>
                    <div class="form-inner">
                        <div class="custom-ddl">
                            <select class="css-ddl" [(ngModel)]="restaurentTypeId">
                            <option value="" selected>Select</option>
                            <option *ngFor="let resType of restaurentTypes" [ngValue]="resType.id">{{resType.type}}</option>
                            </select>
                        </div>
                        <input type="text" [(ngModel)]="foodCategory" class="form-control" placeholder="Search for restaurants or dishes">
                        <button type="button" (click)="searchRestaurent(restaurentTypeId)" class="btn-search"></button>
                    </div>
                </div>
          </div>
          <div class="item">
            <img src="assets/images/hotel_banner.jpg">
            <div class="search-form text-center">
                    <h2>Space to live your life with luxury</h2>
                    <p>Luxurious living,Premier Hospitality,Tarnquil Surroundings</p>
                    <div class="form-inner">
                        <div class="custom-ddl">
                            <select class="css-ddl">
                                <option value="0">Select</option>
                                <option value="Luxury" selected>Luxury</option>
                                <option value="Boutique">Boutique</option>
                                <option value="Full-service">Full-service</option>	
                                <option value="Economy">Economy</option>	
                                <option value="Motel">Motel</option>	
                                <option value="Microstay">Microstay</option>	
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Search for hotel">
                        <button type="button" class="btn-search"></button>
                    </div>
                </div>
          </div>
          <div class="item">
                <img src="assets/images/shop_banner.jpg">
                <div class="search-form text-center">
                        <h2>Discover your stores, your place</h2>
                        <p>You'll find it here!</p>
                        <div class="form-inner">
                            <div class="custom-ddl">
                                <select class="css-ddl">
                                    <option value="0">Select</option>
                                    <option value="Boutique" selected>Boutique</option>
                                    <option value="TravelAgent">TravelAgent</option>
                                    <option value="Bakery" >Bakery</option>
                                    <option value="DeptmentalStore">DeptmentalStore</option>
                                    <option value="Malls">Malls</option>
                                    <option value="SuperMarket">SuperMarket</option>	
                                 	
                                </select>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter shops">
                            <button type="button" class="btn-search"></button>
                        </div>
                    </div>
              </div>

              <div class="item">
                    <img src="assets/images/activity_banner.jpg">
                    <div class="search-form text-center">
                            <h2>Best Things to Do in the City</h2>
                            <p>Be happy for this moment,This moment is your life</p>
                            <div class="form-inner">
                                <div class="custom-ddl">
                                    <select class="css-ddl">
                                        <option value="0">Select</option>
                                        <option value="Archery" selected>Archery</option>
                                        <option value="Camping">Camping</option>
                                        <option value="Canoeing">Canoeing</option>
                                        <option value="Climbing">Climbing </option>
                                        <option value="Abseil">Abseil</option>
                                        <option value="Duckies">Duckies</option>
                                        <option value="Scrambling">Scrambling</option>
                                        <option value="Scuba">Scuba Diving </option>
                                        <option value="Rafting">Rafting</option>	
                                    </select>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter Activites">
                                <button type="button" class="btn-search"></button>
                            </div>
                        </div>
                  </div>

                  <div class="item">
                        <img src="assets/images/nightlife_banner.jpg">
                        <div class="search-form text-center">
                                <h2>Let’s get it poppin</h2>
                                <p>Make the most out of tonight and worry about it all tomorrow </p>
                                <div class="form-inner">
                                    <div class="custom-ddl">
                                        <select class="css-ddl">
                                            <option value="0">Select</option>
                                            <option value="Pubs" selected>Pubs</option>
                                            <option value="Bars">Bars</option>	
                                            <option value="music">Live music</option>
                                            <option value="Concerts">Concerts</option>
                                            <option value="Cabarets">Cabarets</option>
                                            <option value="Theatre">Theatre</option>
                                            <option value="Cinemas">Cinemas</option>
                                            <option value="Nightclubs">Nightclubs</option>
                                            <option value="Sports">Sports</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter name or service">
                                    <button type="button" class="btn-search"></button>
                                </div>
                            </div>
                      </div>

                      <div class="item">
                            <img src="assets/images/emergency_banner.jpg">
                            <div class="search-form text-center">
                                    <h2>Search for emergency and medical services</h2>
                                    <p>Nobody calls us cause they did something smart!</p>
                                    <div class="form-inner">
                                        <div class="custom-ddl">
                                            <select class="css-ddl">
                                                <option value="0">Select</option>
                                                <option value="medicine" selected>Medicine Stores</option>
                                                <option value="Ambulance">Ambulance</option>
                                                <option value="Hospitals">Hospitals</option>
                                              </select>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Enter name or service">
                                        <button type="button" class="btn-search"></button>
                                    </div>
                                </div>
                          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      	<!-- Body Container Start-->
		<section class="container no-glitter">			
                <div class="menulist-tab">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li role="presentation" class="{{activeFlag.foodsTabActive}}"><a  routerLink="/" (click)="setActive('FOODS')"            role="tab" data-toggle="tab">FOODS</a></li>
                        <li role="presentation" class="{{activeFlag.hotelsTabActive}}"><a  routerLink="/hotels"   (click)="setActive('HOTELS')"    role="tab" data-toggle="tab">HOTELS</a></li>
                        <li role="presentation" class="{{activeFlag.shopTabActive}}"><a  routerLink="/shop" (click)="setActive('SHOP')"  role="tab" data-toggle="tab">SHOP</a></li> 
                        <li role="presentation" class="{{activeFlag.activtiesTabActive}}"><a  routerLink="/activites" (click)="setActive('ACTIVTIES')" role="tab" data-toggle="tab">ACTIVTIES</a></li> 
                        <li role="presentation" class="{{activeFlag.nightlifeTabActive}}"><a  routerLink="/nightlife"  (click)="setActive('NIGHTLIFE')"role="tab" data-toggle="tab">NIGHT LIFE</a></li> 
                        <li role="presentation" class="{{activeFlag.emergencyTabActive}}"><a  routerLink="/emergency"  (click)="setActive('EMERGENCY')"role="tab" data-toggle="tab">EMERGENCY SERVICES</a></li> 
                    </ul>
                    </div>
                    </section>
<router-outlet></router-outlet>