<section class="container no-glitter">
      <div class="menu-list-item">
        <div class="row clearfix">

          <div class="col-sm-4 col-md-4">					
            <div class="menu">
              <figure><a href="javascript:void(0);"><img src="assets/images/page/nightlife.jpg" alt=""></a></figure>
              <div class="order-area">
                <div class="menu-title">
                  <a ><h4>Best Nights Life</h4></a>
                  <span>Near by Clubs Available in City</span>
                </div>
                <a  class="order-now">Search Now</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-4">					
              <div class="menu">
                <figure><a href="javascript:void(0);"><img src="assets/images/page/places.jpg"  alt=""></a></figure>
                <div class="order-area">
                  <div class="menu-title">
                    <a ><h4>Best Places</h4></a>
                    <span>Near by Places Available in City</span>
                  </div>
                  <a  class="order-now">Search Now</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-md-4">					
                <div class="menu">
                  <figure><a href="javascript:void(0);"><img src="assets/images/page/hoteles.jpg" alt=""></a></figure>
                  <div class="order-area">
                    <div class="menu-title">
                      <a ><h4>Best Hotels</h4></a>
                      <span>Near by Hotels Available in City</span>
                    </div>
                    <a  class="order-now">Search Now</a>
                  </div>
                </div>
              </div>

        </div>
      </div>			
    </section>