<section class="flat-row flat-imagebox background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="flat-row-title center">
            <h2>Best Things to Do in the City</h2>
            <p>
              Search and Find what you are looking for. Best spots are here for you
            </p>
          </div><!-- /.flat-row-title -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/nightlife.jpg" alt="">
                  <a href="#" title="">Book</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title ad">
                  <a href="#" title="">Night Life</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc">
                  About Night Life aviables in City and near by cities
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/hoteles.jpg" alt="">
                  <a href="#" title="">Book</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="">Best Hotels</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc">
                  Near by Hotel avilable with high rating and details
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/places.jpg" alt="">
                  <a href="#" title="">Book</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="">Amazing Places </a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc">
                  About Travle plases near to you
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.flat-imagebox style2 -->