<section class="flat-row flat-imagebox background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="flat-row-title center">
            <h2 >{{'label1' | translate}}</h2>
            <p>
              {{'label2' | translate}}
            </p>
          </div><!-- /.flat-row-title -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-4">
          <div class="imagebox">  
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/nightlife.jpg" alt="">
                  <a href="#" title="">{{'label9' | translate}}</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="" >{{'nightlife' | translate}}</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc" >
                  {{'label3' | translate}}
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/hoteles.jpg" alt="">
                  <a href="#" title="">{{'label9' | translate}}</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="" >{{'label4'| translate}}</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc">
                  {{'label5' | translate}}
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/places.jpg" alt="">
                  <a href="#" title="" >{{'label9' | translate}}</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="" >{{'label6' | translate}} </a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc" >
                  {{'label7' | translate}}
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.flat-imagebox style2 -->