<section class="flat-row flat-imagebox background">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="flat-row-title center">
            <h2 translate="label1">{{label1}}</h2>
            <p translate="label2">
              {{label2}}
            </p>
          </div><!-- /.flat-row-title -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-4">
          <div class="imagebox">  
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/nightlife.jpg" alt="">
                  <a href="#" title="" translate="label9">{{label9}}</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="" translate="nightlife">{{nightlife}}</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc" translate="label3">
                  {{label3}}
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/hoteles.jpg" alt="">
                  <a href="#" title="" translate="label9">{{label9}}</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="" translate="label4">{{label4}}</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc" translate="label5">
                  {{label5}}
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="imagebox">
            <div class="box-imagebox">
              <div class="box-header">
                <div class="box-image">
                  <img src="assets/images/page/places.jpg" alt="">
                  <a href="#" title="" translate="label9">{{label9}}</a>
                  <div class="overlay"></div>
                </div>
              </div><!-- /.box-header -->
              <div class="box-content">
                <div class="box-title">
                  <a href="#" title="" translate="label6">{{label6}} </a><i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="box-desc" translate="label7">
                  {{label7}}
                </div>
              </div><!-- /.box-content -->
            </div><!-- /.box-imagebox -->
          </div><!-- /.imaegbox -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.flat-imagebox style2 -->