<header  data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <div class="container no-glitter">
      <div class="row clearfix">
        <div class="col-md-12">
          <div class="top-nav">
              <a class="logo"><img src="assets/images/logo.png" alt="woohoo" /></a>
              
            <nav class="navbar navbar-default">  
              <ul class="nav navbar-nav">
                  
                    <li *ngIf="user" class="lan">
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          {{user.name}}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                          <li><a routerLink="/user/orders">Past Orders</a></li>
                          <li><a routerLink="/user/profile">Profile</a></li> 
                          <li><a routerLink="/">Home</a></li> 
                        </ul>
                      </div>
                    </li>
                <li class="lan">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Language
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Chinese</a></li> 
                    </ul>
                  </div>
                </li>
              </ul> 		
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
<section class="page-heading clearfix">
	<div class="container no-glitter">
		<h2>Personal Information</h2>			
	</div>
</section>
<router-outlet></router-outlet>