<app-basic-search></app-basic-search>
<app-entity></app-entity>
<section class="flat-row flat-imagebox style5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-row-title center">
          <h2>Differnt shops which helps you in better way</h2>
          <p>
            No Limit for your shopping
          </p>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
       <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/deptmentalstore.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Departmental Store</a>
            <p>8 Stores Near By</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/supermarket.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Supermarket</a>
            <p>8 Stores Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/bakery.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Bakery</a>
            <p>8 Stores Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/stationery.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Stationery</a>
            <p>8 Stores Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/optician.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Optician</a>
            <p>8 Stores Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/malls.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Shopping centre | Mall</a>
            <p>8 Stores Near you</p>
          </div>
        </div><!-- /.imaebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
      <div class="col-md-3 col-sm-6">
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/jewellery.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Jewellery shop</a>
            <p>11 Stores Near you</p>
          </div>
        </div><!-- /.imagebox style5 -->
        <div class="height20"></div>
        <div class="imagebox style5">
          <div class="box-image">
            <img src="assets/images/page/shops/travelagent.jpg" alt="">
            <div class="overlay"></div>
          </div>
          <div class="box-content">
            <a href="#" title="">Travel agent</a>
            <p>15 Stores Near you</p>
          </div>
        </div><!-- /.imagebox style5 -->
      </div><!-- /.col-md-3 col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-imagebx style5 -->