<section class="container no-glitter">
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
    <div class="menu-list-item">
      <div class="row clearfix">
        <div *ngIf="restarentSearchCount">

        <div class="col-sm-4 col-md-4"  *ngFor="let resCount of restarentSearchCount">					
          <div class="menu">
            <figure><a href="javascript:void(0);"><img src="assets/images/page/foods/{{resCount.name}}.jpg" alt=""></a></figure>
            <div class="order-area">
              <div class="menu-title">
                  <a (click)="restaurentTypedata(resCount.resturantids)"><h4>{{resCount.name | translate}}</h4></a>
                <span>{{resCount.count}} {{'label12'| translate}}</span>
              </div>
              <a (click)="restaurentTypedata(resCount.resturantids)" class="order-now">Order Now</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> 			
  </section>


  <!-- Advertise Start-->
<div class="container no-glitter">
		<div class="row">
			<div class="advertise-container text-center">
				<figure><a href="javascript:void(0);"><img src="assets/images/advertise-big.jpg" alt=""></a></figure>
			</div>
		</div>
	</div>