      	<!-- Body Container Start-->
 <section class="container no-glitter">			
          <h2 class="mar-15 text-center">{{'foodcomponentheader' | translate}} </h2>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
            <div class="menu-list-item">
              <div class="row clearfix">
                <div *ngIf="resCountTopMenus">
        
                <div class="col-sm-3 col-md-3"  *ngFor="let menu of resCountTopMenus">					
                  <div class="menu">
                    <div class="order-area">
                      <div class="menu-title">
                          <a (click)="restaurentTypedata(menu.resids)"><h4>{{menu.name | translate}}</h4></a>
                          <span class="menu-tag" *ngIf="menu.isVeg===true;else veg" #veg  ><img src="assets/images/hotelmenu/newVeg.png" alt=""></span>
                          <span class="menu-tag" *ngIf="menu.isVeg===false;else nonveg" #nonveg  ><img src="assets/images/hotelmenu/newNonVeg.png" alt=""></span>
                        <span>{{menu.displayCount}} {{'Resturants' | translate}} </span>
                      </div>
                      <a (click)="restaurentTypedata(menu.resids)" class="order-now">{{'Order Now' |translate}}</a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
  </section>




<section class="container no-glitter">
    <h2 class="mar-15 text-center">{{'foodcomponentRestaurentLable' | translate}}</h2>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
    <div class="menu-list-item">
      <div class="row clearfix">
        <div *ngIf="restarentSearchCount">

        <div class="col-sm-4 col-md-4"  *ngFor="let resCount of restarentSearchCount">					
          <div class="menu">
            <figure><a href="javascript:void(0);"><img src="assets/images/page/foods/{{resCount.name}}.jpg" alt=""></a></figure>
            <div class="order-area">
              <div class="menu-title">
                  <a (click)="restaurentTypedata(resCount.resturantids)"><h4>{{resCount.name | translate}}</h4></a>
                <span>{{resCount.displayCount}} {{'foodcomponentRestaurentLable'| translate}}</span>
              </div>
              <a (click)="restaurentTypedata(resCount.resturantids)" class="order-now">{{'Order Now' |translate}}</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> 			
</section>


  <!-- Advertise Start-->
<div class="container no-glitter">
		<div class="row">
			<div class="advertise-container text-center">
				<figure><a href="javascript:void(0);"><img src="assets/images/advertise-big.jpg" alt=""></a></figure>
			</div>
		</div>
	</div>