<div>Chose from your Past Orders</div>

<!--<div class="wrapper center-block">
    <div *ngFor="let order of pastOrders" class="panel-group" id="order.timestamp" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading active" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" [data-parent]="'#'+order.timestamp" [href]="'#'+order.timestamp" aria-expanded="true" aria-controls="collapseOne">
            {{order.timestamp}}
          </a>
        </h4>
      </div>
      <div [id]="order.timestamp" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div *ngFor="let restaurantOrder of order.orderDetails">
            <div>Ordered from {{restaurantOrder.restaurantName}} through {{restaurantOrder.deliveryPartner}}
                <div *ngFor="let item of restaurantOrder.menuItems">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    {{item.itemName}}
                                </td>
                                <td>
                                    {{item.quantity}}
                                </td>
                                <td>
                                    {{item.totalPrice}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>-->
  <mat-accordion>
    <mat-expansion-panel *ngFor="let order of pastOrders">
      <mat-expansion-panel-header>
        <mat-panel-title >
          {{order.timestamp}}
        </mat-panel-title>
        <mat-panel-description>
          <p class="title-bar">{{order.orderJson.paymentDetails.grandTotal}}</p>
          <span class="title-bar">
          <button mat-button>Re-order</button>
        </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
  <div class="order-details">
    <div class="menu-info-container">
    <div *ngFor="let restaurantOrder of order.orderJson.orderDetails">
            <div *ngFor="let item of restaurantOrder.menuItems; let i = index">   
                    <table>
                        <tr>
                        <th class="restaurant-name">{{restaurantOrder.restaurantName}}</th>
                        </tr>
                        <tr>
                            <td class="menu-item">
                                {{i+1}}.
                            </td>
                            <td class="menu-item-name">  
                                {{item.itemName}}
                            </td>
                            <td class="menu-item">
                                {{item.price}}
                            </td>
                            <td class="menu-item">
                                {{item.quantity}}
                            </td>
                            <td class="menu-item">
                                {{item.totalPrice}}
                            </td>
                        </tr>
                    </table>
            </div>  
    </div>
    </div>
    <div class="payment-info">
    <table>
        <tr><td>Sub Total</td><td>{{order.orderJson.paymentDetails.subTotal}}</td></tr>
        <tr><td>Delivery</td><td>{{order.orderJson.paymentDetails.deliveryCharges}}</td></tr>
        <tr><td>Discount</td><td>{{order.orderJson.paymentDetails.discount}}</td></tr>
        <tr><td>Tax</td><td>{{order.orderJson.paymentDetails.tax}}</td></tr>
        <tr><td>Grand Total</td><td>{{order.orderJson.paymentDetails.grandTotal}}</td></tr>
    </table>
    </div>
</div>    
    </mat-expansion-panel>
    
  </mat-accordion>