<div>Chose from your Past Orders</div>
  <mat-accordion class="orders-area">
    <mat-expansion-panel *ngFor="let order of pastOrders">
      <mat-expansion-panel-header>
        <mat-panel-title class="order-date">
          {{order.timestamp | date:'full'}}
        </mat-panel-title>
        <mat-panel-description>
          <p class="title-bar">Amount: {{order.orderJson.paymentDetails.grandTotal}}</p>
          <span class="title-bar">
          <button mat-button>Re-order</button>
        </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
  <div class="order-details">
    <div class="menu-info-container">
    <div *ngFor="let restaurantOrder of order.orderJson.orderDetails">
            <div *ngFor="let item of restaurantOrder.menuItems; let i = index">   
                <span class="restaurant-name">{{restaurantOrder.restaurantName}}</span>
                    <table>
                        <tr>
                            <td>
                                {{i+1}}.
                            </td>
                            <td class="menu-item-name">  
                                {{item.itemName}}
                            </td>
                            <td class="menu-item">
                                {{item.price}}
                            </td>
                            <td class="menu-item">
                                {{item.quantity}}
                            </td>
                            <td class="menu-item">
                                {{item.totalPrice}}
                            </td>
                        </tr>
                    </table>
            </div>  
    </div>
    </div>
    <div class="boundary"></div>
    <div class="payment-info">
    <table>
        <tr><td class = "payment-item">Sub Total</td><td class = "payment-item">{{order.orderJson.paymentDetails.subTotal}}</td></tr>
        <tr><td class = "payment-item">Delivery</td><td class = "payment-item"> {{order.orderJson.paymentDetails.deliveryCharges}}</td></tr>
        <tr><td class = "payment-item">Discount</td><td class = "payment-item">{{order.orderJson.paymentDetails.discount}}</td></tr>
        <tr><td class = "payment-item">Tax</td><td class = "payment-item"> {{order.orderJson.paymentDetails.tax}}</td></tr>
        <tr><td class = "payment-item">Grand Total</td><td class = "payment-item">{{order.orderJson.paymentDetails.grandTotal}}</td></tr>
    </table>
    </div>
  </div>    
    </mat-expansion-panel>
    
  </mat-accordion>